In [1]:
import numpy as np
import pandas as pd

In [5]:
pip list

Package             Version
------------------- -------
argon2-cffi         21.1.0
attrs               21.2.0
backcall            0.2.0
bleach              4.1.0
cffi                1.15.0
cycler              0.11.0
debugpy             1.5.1
decorator           5.1.0
defusedxml          0.7.1
entrypoints         0.3
importlib-resources 5.4.0
ipykernel           6.5.0
ipython             7.29.0
ipython-genutils    0.2.0
ipywidgets          7.6.5
jedi                0.18.0
Jinja2              3.0.2
jsonschema          4.2.1
jupyter             1.0.0
jupyter-client      7.0.6
jupyter-console     6.4.0
jupyter-core        4.9.1
jupyterlab-pygments 0.1.2
jupyterlab-widgets  1.0.2
kiwisolver          1.3.2
MarkupSafe          2.0.1
matplotlib          3.4.3
matplotlib-inline   0.1.3
mistune             0.8.4
nbclient            0.5.5
nbconvert           6.2.0
nbformat            5.1.3
nest-asyncio        1.5.1
notebook            6.4.5
numpy               1.21.4
packaging           21.2
pandas              1.3.4
pandocfilters       1.5.0
parso               0.8.2
pexpect             4.8.0
pickleshare         0.7.5
Pillow              8.4.0
pip                 21.2.4
prometheus-client   0.12.0
prompt-toolkit      3.0.22
ptyprocess          0.7.0
pycparser           2.21
Pygments            2.10.0
pyparsing           2.4.7
pyrsistent          0.18.0
python-dateutil     2.8.2
pytz                2021.3
pyzmq               22.3.0
qtconsole           5.2.0
QtPy                1.11.2
scipy               1.7.2
seaborn             0.11.2
Send2Trash          1.8.0
setuptools          58.2.0
six                 1.16.0
terminado           0.12.1
testpath            0.5.0
tornado             6.1
traitlets           5.1.1
wcwidth             0.2.5
webencodings        0.5.1
wheel               0.37.0
widgetsnbextension  3.5.2
zipp                3.6.0
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/home/ubuntu/ml/mlVENV/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install seaborn

Collecting seaborn
  Using cached seaborn-0.11.2-py3-none-any.whl (292 kB)
Requirement already satisfied: numpy>=1.15 in ./mlVENV/lib/python3.8/site-packages (from seaborn) (1.21.4)
Requirement already satisfied: matplotlib>=2.2 in ./mlVENV/lib/python3.8/site-packages (from seaborn) (3.4.3)
Requirement already satisfied: pandas>=0.23 in ./mlVENV/lib/python3.8/site-packages (from seaborn) (1.3.4)
Collecting scipy>=1.0
  Downloading scipy-1.7.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (39.3 MB)
     |████████████████████████████████| 39.3 MB 21.9 MB/s
Requirement already satisfied: pyparsing>=2.2.1 in ./mlVENV/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: cycler>=0.10 in ./mlVENV/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in ./mlVENV/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in ./mlVENV/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./mlVENV/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: pytz>=2017.3 in ./mlVENV/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in ./mlVENV/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: scipy, seaborn
Successfully installed scipy-1.7.2 seaborn-0.11.2
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/home/ubuntu/ml/mlVENV/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
data = "./carbon/my_carbon.csv.1"
df_carbon = pd.read_csv(data)

In [8]:
df_carbon.head()

,Unnamed: 0,"All values in billion tonnes of carbon per year (GtC/yr), for the globe. For values in billion tonnes of carbon dioxide per year (GtCO2/yr) , multiply the numbers below by 3.664.",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,Note: 1 billion tonnes C = 1 petagram of carbo...,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,All uncertainties represent ± 1 sigma error (6...,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Emissions from fossil fuel combustion and indu...,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Cite as: Friedlingstein et al. 2021 (see Summa...,NaN,NaN,NaN,NaN,NaN
4,NaN,Emissions from land-use change (uncertainty of...,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_carbon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 8 columns):
 #   Column                                                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                                                               --------------  -----
 0   Unnamed: 0                                                                                                                                                                           64 non-null     object
 1   All values in billion tonnes of carbon per year (GtC/yr), for the globe. For values in billion tonnes of carbon dioxide per year (GtCO2/yr) , multiply the numbers below by 3.664.   72 non-null     object
 2   Unnamed: 2                                                                                                                                                                           72 non-null     object
 3   Unnamed: 3                                                                                                                                                                           63 non-null     object
 4   Unnamed: 4                                                                                                                                                                           63 non-null     object
 5   Unnamed: 5                                                                                                                                                                           63 non-null     object
 6   Unnamed: 6                                                                                                                                                                           63 non-null     object
 7   Unnamed: 7                                                                                                                                                                           63 non-null     object
dtypes: object(8)
memory usage: 5.2+ KB

In [10]:
df_carbon.describe()

,Unnamed: 0,"All values in billion tonnes of carbon per year (GtC/yr), for the globe. For values in billion tonnes of carbon dioxide per year (GtCO2/yr) , multiply the numbers below by 3.664.",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
count,64,72,72,63,63,63,63,63
unique,64,72,68,57,63,62,63,63
top,GtC/yr,Note: 1 billion tonnes C = 1 petagram of carbo...,Cite as: Friedlingstein et al. 2021 (see Summa...,5.11884,ocean sink,3.257647059,cement carbonation sink,budget imbalance
freq,1,1,5,3,1,2,1,1

In [12]:
df_carbon.tail()

,Unnamed: 0,"All values in billion tonnes of carbon per year (GtC/yr), for the globe. For values in billion tonnes of carbon dioxide per year (GtCO2/yr) , multiply the numbers below by 3.664.",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
77,2016,9.675889546,1.010800906,6.01092,2.93415469,2.8,0.199106369,-1.25749060726703
78,2017,9.805059412,0.9996941366,4.5666,2.839219869,3.524705882,0.203693613,-0.329465815644036
79,2018,10.00167571,1.052821699,5.11884,2.907691446,3.346470588,0.210855607,-0.529360237234873
80,2019,10.01705865,1.04405313,5.39496,2.97397468,2.692352941,0.215297542,-0.215473380676991
81,2020,9.499797789,0.8760897818,5.01264,2.994930931,2.924705882,0.218773919,-0.775163161400788

In [13]:
data2 = "./carbon/my_carbon.csv.2"
df_carbon2 = pd.read_csv(data2)

In [14]:
df_carbon2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             273 non-null    object
 1   Historical CO2 budget  284 non-null    object
 2   Unnamed: 2             172 non-null    object
 3   Unnamed: 3             272 non-null    object
 4   Unnamed: 4             241 non-null    object
 5   Unnamed: 5             272 non-null    object
 6   Unnamed: 6             92 non-null     object
 7   Unnamed: 7             172 non-null    object
dtypes: object(8)
memory usage: 18.0+ KB

In [16]:
df_carbon2.head(20)

,Unnamed: 0,Historical CO2 budget,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,All values in billion tonnes of carbon per yea...,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1 billion tonnes C = 1 petagram of carbon (10^...,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Please note: The methods used to estimate the ...,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Uncertainties: see the original papers for unc...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Cite as: Friedlingstein et al (2021; see summ...,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Fossil fuel combustion and cement production e...,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Land-use change emissions: As in Global Carbo...,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,"Atmospheric CO2 growth rate: Joos, F. and Spah...",NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,The ocean CO2 sink prior to 1959 is the averag...,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,The land sink is as in Global Carbon Budget fr...,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Cement carbonation is the average of two estim...,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,The budget imbalance is the sum of emissions (...,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,GtC/yr,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Year,fossil emissions excluding carbonation,land-use change emissions,atmospheric growth,ocean sink,land sink,cement carbonation sink,budget imbalance
15,1750,0.002552,NaN,0,NaN,0.0976470588235294,NaN,NaN
16,1751,0.002552,NaN,-0.0743400000000065,NaN,-0.503529411764706,NaN,NaN
17,1752,0.002553,NaN,-0.0707291999999597,NaN,-0.232941176470588,NaN,NaN
18,1753,0.002553,NaN,-0.067755600000055,NaN,-0.294705882352941,NaN,NaN
19,1754,0.002554,NaN,-0.0641447999998945,NaN,0.0805882352941176,NaN,NaN